.container {
  padding: 24px;
  max-width: 416px;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.input-form {
  background-color: #fff;
  padding: 8px;
  border: none;
  border-radius: 8px;
}

input {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;

  border-radius: 8px;
  border: 3px solid #eff2ff;
  width: 100%;
  padding: 8px 16px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:hover {
  border-color:  #e1e7ff;
}

input:focus {
  outline-width: 0;
  border-color:  #e1e7ff;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  max-width: 91px;
  width: 100%;

  background: #4e75ff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
  background: #6c8cff;
}
